{% extends "gallery/base.html" %} {% block content %}

<!-- looping method do display images -->
<div class="row">
  <div class="card-columns m-3">
    {% for picture in pictures %}
    <div class="card">
      <img class="card-img-top" src="{{ picture.image_link.url}}" alt="Card image cap" />
      <div class="card-footer">
          <small class="text-muted">{{ picture.name}}</small>
        </div>
    </div>
    {% endfor %}

</div>    

<!-- <div class="card-group">
      {% for picture in pictures %}
      <div class="card col-md-4">
        <img
          class="card-img-top"
          src="{{ picture.image_link.url}}"
          alt="Card image cap"
        />

        <div class="card-footer">
          <small class="text-muted">{{ picture.name}}</small>
        </div>
      </div>
      {% endfor %}
    </div> -->
</div>

  {% endblock %}
</div>
